/* Default */
body {
    font-family: Arial, sans-serif;
    background-image: url('Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Button styling */
button {
    background-color: #c24f46;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Use full width of the container */
    box-sizing: border-box;
    transition: background-color 0.3s;
    text-align: center; /* Ensure text is centered */
    height:50px;
    width:100px;
    display: block; /* Ensure it takes up space */
    position: relative; /* Ensure it's not collapsing */
    z-index: 10; /* Bring it to the front */
    margin: 0 auto; /* Center horizontally */
}

button:hover {
    background-color: #f0564b;
}

.encompass {
    display: block;
    align-content: center;
    flex-direction:column;
    align-items: center; /* Center horizontally */
    width: 100%; /* Allow it to take the full width */
    min-height: 100vh; /* Ensure it takes at least the full viewport height */
    margin:auto;
    text-align: center;
}

/* Center the textboxContainer */
#textboxContainer {
    display: flex;  /* Enables flexbox for centering */
    justify-content: center;  /* Centers horizontally */
    align-items: center;  /* Centers vertically */
    width: 100%;
    margin-top: 15px;
}

/* Center the filler inside the container */
.filler {
    width: 180px; /* Fixed width for better alignment */
    min-width: 150px;
    max-width: 200px;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    display:block;
}

/* Styling for the response box */
.answer_box {
    background-color: #ffffff;
    border: 2px solid #c24f46;
    padding: 20px;
    border-radius: 8px;
    font-size: 1.1em;
    text-align: left;
    color: #333;
    width: 100%; /* Make the answer box flexible in width */
    max-width: 600px; /* Set a maximum width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Ensure padding and borders are considered in the width */
    transition: transform 0.3s, box-shadow 0.3s;
    margin:auto
}

.answer_box:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.hidden {
    display: none;
}

textarea.answer_box {
    font-size: inherit;
    font-family: inherit;
}